

   .body {
		
	color: white;

   }

   body  {background-image:url("image/blue.jpg");}
	
	a {
		 font-size: 20px;
		 background: white;
		 padding: 9px 20px;
		 border-radius: 10px;
		}
	
	
	</style>
		